# Laravel Specific
/vendor
/node_modules
/public/storage
/public/hot
/public/build
/storage/*.key
/storage/framework/*
/storage/logs/*
.env
.env.*
.phpunit.result.cache
.phpunit.cache

# IDE & Tool Junk
.DS_Store
Thumbs.db
/.idea
/.vscode
/.phpactor.json
/.fleet
/.nova
/.zed
/auth.json

# Homestead / Vagrant
Homestead.json
Homestead.yaml

# Composer artifacts
composer.lock

# OS-specific junk
*.log
